<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <meta charset="UTF-8">
  <title>Widgets</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../../style.css">

</head>

<body>

<nav class="navbar navbar-default bg-primary navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a href="../page/page-list.html" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left glyphicon-black"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="titlePages">Widgets</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a href="../widget/widget-chooser.html" class="navbar-link">
        <span class="glyphicon glyphicon-plus glyphicon-black" ></span>
      </a>
    </p>

  </div>
</nav>

<br/>

<div class="container-fluid scroller">


  <div class="row">
    <div class="col-xs-12">
      <h1>GIZMODO</h1>
      <div class="icons">
        <a href="../widget/widget-heading.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-align-justify"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>US Senate Reaches Compromise on Emergency Zika Funding</h3>
      <div class="icons">
        <a href="../widget/widget-heading.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-align-justify"></span>
        </a>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <img src="../../androidpit-computer-developer-1.jpg" class="img-fluid img-widget" />
      <div class="icons">
        <a href="../widget/widget-image.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-align-justify"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p class="widget-text">
        Bootstrap is an open source toolkit for developing with <a href="#">HTML, CSS, and JS.</a>
        Quickly prototype your ideas or build your entire app with our Sass variables and mixins,
        responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.
      </p>
    <div class="icons">
      <a href="../widget/widget-heading.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-align-justify"></span>
      </a>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p class="widget-text">Man in Wingsuit Flies Straight Through a Ring of Fire</p>
    <div class="icons">
      <a href="../widget/widget-heading.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-align-justify"></span>
      </a>
    </div>
    </div>

  </div>

  <div class="row">
  <div class="col-xs-12">
    <iframe class="embed-responsive-item" width="100%" height="400" src="//www.youtube.com/embed/ePbKGoIGAXY" ></iframe>
    <div class="icons">
      <a href="../widget/widget-youtube.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-align-justify"></span>
      </a>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p class="widget-text">
        Wingsuit flying (or wingsuiting) is the sport of gliding through the air using a wingsuit which adds surface
        area to the human body to enable a significant increase in lift. The modern wingsuit, first developed in the
        late 1990s, creates a surface area with fabric between the legs and under the arms. Wingsuits are sometimes
        referred to as "birdman suits".
      </p>
    <div class="icons">
      <a href="../widget/widget-heading.html">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-align-justify"></span>
      </a>
    </div>
    </div>
  </div>


  <nav class="navbar navbar-default bg-primary navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text pull-left">
        <a href="profile.html">
          <span class="glyphicon glyphicon-play glyphicon-black"></span>
        </a>
        <a href="profile.html">
          <span class="glyphicon glyphicon-eye-open glyphicon-black"></span>
        </a>
      </p>

      <p class="navbar-text pull-right">
        <a href="../user/profile.html">
          <span class="glyphicon glyphicon-user glyphicon-user-blue"></span>
        </a>
      </p>

    </div>
  </nav>

</div>
</body>
</html>
