<nav class="navbar navbar-default bg-primary navbar-fixed-top blue">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/user']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left" ></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="titles">Websites</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', 'website','new']" class="navbar-link">
        <span class="glyphicon glyphicon-plus" ></span>
      </a>
    </p>

  </div>
</nav>

<br/>

<div class="container-fluid scroller">
  <ul class="list-group">
    <div *ngFor="let website of userWebsites">
      <li class="list-group-item">
        <a [routerLink]="['/user', 'website', website._id,'page']">
          {{website.name}}
        </a>
        <a [routerLink]="['/user', 'website', website._id]"
           class="pull-right">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </li>
    </div>
  </ul>

  <nav class="navbar navbar-default navbar-fixed-bottom blue">
    <div class="container-fluid">
      <p class="navbar-text pull-right">
        <a [routerLink]="['/user']">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </p>

    </div>
  </nav>

</div>
