<form (ngSubmit) = "updateWebsite()" #f="ngForm">
<nav class="navbar navbar-default navbar-fixed-top blue">
  <div class="row container-fluid">
    <div class="col-sm-4 hidden-xs">
      <div class="navbar-text pull-left" style="margin-left: 0px;">
        <a [routerLink]="['/user', 'website']">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" style="color: white;">
          Websites
        </a>
      </div>
      <div class="navbar-text pull-right">
        <a [routerLink]="['/user', 'website', 'new']">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="navbar-text pull-left websites">
        <a [routerLink]="['/user', 'website']">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-text pull-right websites">
        <a (click)="updateWebsite()">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" style="color: white;">
          Edit Website
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="row container-fluid">
  <div class="col-sm-4 hidden-xs hidden-nav">
    <ul class="list-group">
      <div *ngFor="let website of userWebsites">
        <li class="list-group-item">
          <a [routerLink]="['/user', userId, 'website', website._id,'page']">
            {{website.name}}
          </a>
          <a [routerLink]="['/user', userId, 'website', website._id]"
             class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </li>
      </div>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-8 pull-right">
      <div class="form-group" style="margin-top: 70px;">
        <label class="margin-top">Website Name</label>
        <input class="form-control"
               type="text"
               id = "name"
               [(ngModel)] = "webName"
               placeholder="Name"
               name="name"
               required/>
        <label class="margin-top">Website Description</label>
        <textarea class="form-control"
                  id="description"
                  name="description"
                  [(ngModel)] = "webDescription"
                  placeholder="Description">
        </textarea>
      </div>

    <div class="form-group">
      <a class="btn btn-danger btn-block "
         (click)="deleteWebsite()"
         [routerLink]="['/user', 'website']">
        Delete
      </a>
    </div>

  </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom blue">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
</form>
