<nav class="navbar navbar-default navbar-fixed-top blue">
  <div class="row container-fluid">
    <div class="col-sm-4 hidden-xs">
      <div class="navbar-text pull-left" style="margin-left: 0px;">
        <a [routerLink]="['/user', userId, 'website']">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" style="color: white;">
          Websites
        </a>
      </div>
      <div class="navbar-text pull-right">
        <a [routerLink]="['/user', userId, 'website', 'new']">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="navbar-text pull-left websites">
        <a [routerLink]="['/user', userId, 'website']">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-text pull-right websites">
        <a [routerLink]="['/user', userId, 'website']" (click)="updateWebsite()">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" style="color: white;">
          Edit Website
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="row container-fluid">
  <div class="col-sm-4 hidden-xs hidden-nav">
    <ul class="list-group">
      <div *ngFor="let website of websites">
        <li class="list-group-item">
          <a [routerLink]="['/user', userId, 'website', website['_id'],'page']">
            {{website['name']}}
          </a>
          <a [routerLink]="['/user', userId, 'website', website['_id']]"
             class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </li>
      </div>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-8 pull-right">
    <form>
      <div class="form-group" style="margin-top: 70px;">
        <label for="websiteName">Website Name</label>
        <input [(ngModel)]="websiteName"
               name="websiteName"
               required
               placeholder="Name" type="text" class="form-control mr-5" id="websiteName">
      </div>
    </form>

    <form>
      <div class="form-group">
        <label for="websiteDescription">Website Description</label>
        <textarea [(ngModel)]="websiteDescription"
                  name="websiteDescription"
                  required
                  class="form-control mr-5"
                  rows="5"
                  id="websiteDescription"></textarea>
      </div>
    </form>

    <div class="form-group">
      <a class="btn btn-danger btn-block "
         (click)="deleteWebsite()"
         [routerLink]="['/user', userId, 'website']">
        Delete
      </a>
    </div>

  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom blue">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
