<nav class="navbar navbar-default bg-primary navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/user/:uid/website']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left glyphicon-black" ></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="titlePages">Pages</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user/:uid/website/:wid/page/new']" class="navbar-link">
        <span class="glyphicon glyphicon-plus glyphicon-black"></span>
      </a>
    </p>

  </div>
</nav>

<br/>

<div class="container-fluid scroller">
  <div class="row">
    <div class="col-xs-6">
      <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget']">
        <b class="pages">Blog Post</b>
      </a>
    </div>
    <div class="col-xs-6">
      <a [routerLink]="['/user/:uid/website/:wid/page/:pid']" class="navbar-link pull-right">
        <span class="glyphicon glyphicon-cog"  ></span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget']">
        <b class="pages">Blogs</b>
      </a>
    </div>
    <div class="col-xs-6">
      <a [routerLink]="['/user/:uid/website/:wid/page/:pid']" class="navbar-link pull-right">
        <span class="glyphicon glyphicon-cog"  ></span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget']">
        <b class="pages">Home </b>
      </a>
    </div>
    <div class="col-xs-6">
      <a [routerLink]="['/user/:uid/website/:wid/page/:pid']" class="navbar-link pull-right">
        <span class="glyphicon glyphicon-cog"  ></span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget']">
        <b class="pages">Contact Us</b>
      </a>
    </div>
    <div class="col-xs-6">
      <a [routerLink]="['/user/:uid/website/:wid/page/:pid']" class="navbar-link pull-right">
        <span class="glyphicon glyphicon-cog"  ></span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget']">
        <b class="pages">About</b>
      </a>
    </div>
    <div class="col-xs-6">
      <a [routerLink]="['/user/:uid/website/:wid/page/:pid']" class="navbar-link pull-right">
        <span class="glyphicon glyphicon-cog" ></span>
      </a>
    </div>
  </div>

  <nav class="navbar navbar-default bg-primary navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text pull-right">
        <a [routerLink]="['/user/:uid']">
          <span class="glyphicon glyphicon-user glyphicon-user-blue"></span>
        </a>
      </p>

    </div>
  </nav>

</div>
