 <nav class="navbar navbar-default bg-primary navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-brand pull-right right-margin-fix">
        <a (click)="updateWidget()" [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']"
           class="navbar-link">
          <span class="glyphicon glyphicon-ok glyphicon-black"></span>
        </a>
      </div>
      <div class="navbar-brand pull-left left-margin-fix">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']"
           class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left glyphicon-black"></span>
        </a>
      </div>
      <p class="navbar-header pull-left">
        <a class="navbar-brand titlePages">
          <b>Widget Edit</b>
        </a>
      </p>
    </div>
  </nav>


 <div class="container-fluid scroller">
   <form>
     <div class="form-group">
       <label for="url">URL</label>
       <input type="url"
              class="form-control"
              id= "url"
              placeholder="www.youtube.com"
              name="url"
              [(ngModel)]="url">
     </div>
   </form>

   <form>
     <div class="form-group">
       <label for="width">Width</label>
       <input [(ngModel)]="width"
              name="width"
              required
              type="text"
              required
              class="form-control"
              id="width"
              placeholder="100%">
     </div>
   </form>
   <div class="form-group">
     <a (click)="deleteWidget()"
        class="btn btn-danger btn-block "
        [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']">
       Delete
     </a>
   </div>
 </div>

<!-- Footer -->
<nav class="navbar navbar-default bg-primary navbar-fixed-bottom">
  <p class="navbar-brand pull-right">
    <a [routerLink]="['/user', userId]">
      <span class="glyphicon glyphicon-user glyphicon-user-blue"></span>
    </a>
  </p>
</nav>
