<nav class="navbar navbar-default bg-primary navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left glyphicon-black" ></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="titlePages">Choose Widget</b>
      </a>
    </p>


  </div>
</nav>

<br/>

<div class="container-fluid scroller">
  <div class="row">
    <div class="col-xs-6">
      <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/:wgid']">
        <span class="indexLinks">
          <b>Header</b>
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a href="#">
        <span class="indexLinks">
          <b>Label</b>
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a href="#">
        <span class="indexLinks">
          <b>HTML</b>
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a href="#">
        <span class="indexLinks">
          <b>Text Input</b>
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a href="#">
        <span class="indexLinks">
          <b>Link</b>
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a href="#">
        <span class="indexLinks">
          <b>Button</b>
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/:wgid']">
        <span class="indexLinks">
          <b>Image</b>
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/:wgid']">
        <span class="indexLinks">
          <b>Youtube</b>
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a href="#">
        <span class="indexLinks">
          <b>Data Table</b>
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a href="#">
        <span class="indexLinks">
          <b>Repeater</b>
        </span>
      </a>
    </div>
  </div>

  <nav class="navbar navbar-default bg-primary navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text pull-right">
        <a [routerLink]="['/user/:uid']">
          <span class="glyphicon glyphicon-user glyphicon-user-blue"></span>
        </a>
      </p>

    </div>
  </nav>

</div>
