<nav class="navbar navbar-default bg-primary navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/user', 'website' , websiteId, 'page' , pageId, 'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left glyphicon-black" ></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="titlePages">Choose Widget</b>
      </a>
    </p>


  </div>
</nav>

<br/>

<div class="container-fluid scroller">

  <div class="row">
    <div class="col-xs-6">
      <a (click)="createWidget('HTML')" [routerLink]="['/user', 'website' , websiteId, 'page' , pageId, 'widget', 'new', 'html']">
        <span class="indexLinks">
          <b>HTML</b>
        </span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <a (click)="createWidget('HEADING')" [routerLink]="['/user', 'website' , websiteId, 'page' , pageId, 'widget', 'new', 'header']">
        <span class="indexLinks">
          <b>Header</b>
        </span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <a (click)="createWidget('IMAGE')" [routerLink]="['/user', 'website' , websiteId, 'page' , pageId, 'widget', 'new', 'image']">
        <span class="indexLinks">
          <b>Image</b>
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a (click)="createWidget('YOUTUBE')" [routerLink]="['/user', 'website' , websiteId, 'page' , pageId, 'widget', 'new', 'youtube']">
        <span class="indexLinks">
          <b>Youtube</b>
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a (click)="createWidget('TEXT')"  [routerLink]="['/user', 'website' , websiteId, 'page' , pageId, 'widget', 'new', 'text']">
        <span class="indexLinks">
          <b>Text</b>
        </span>
      </a>
    </div>
  </div>


  <nav class="navbar navbar-default bg-primary navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text pull-right">
        <a [routerLink]="['/user']">
          <span class="glyphicon glyphicon-user glyphicon-user-blue"></span>
        </a>
      </p>

    </div>
  </nav>

</div>
