/* You can add global styles to this file, and also import other style files */

.col-xs-6{
  padding-bottom: 10px;
}

.wrap {
  display: inline-block;
  position: relative;
}

.blue{
  background-color: #428bca;
}

.icons {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 10px;
  padding: 5px;
  position: absolute;
  float: right;
  right: 15px;
  top: 0px;
}

.form-padding{
  margin-top: 70px;
}

.scroller{
  padding-top: 60px;
  padding-bottom: 60px;
}

.navbar-fixed-top{
  height: 45px;
}


.iwt{
  display:block;
}

.pages{
  color: #428bca;
}

.titlePages{
  color: grey;
}

.img-widget{
  max-width: 100%;
  height: auto;
}

.widget-text{
  font-size: 20px;
  color: black;
}

.glyphicon-cog {
  color: #428bca;
}

.glyphicon-user,
.glyphicon-chevron-left,
.glyphicon-plus,
.glyphicon-ok{
  color: white;
}

.glyphicon-user-blue{
  color: #428bca;
}

.glyphicon-black{
  color: black;
}

.indexLinks{
  color: #428bca;
}

.glyphicon-align-justify{
  color: black;
  margin-left: 10px
}

.titles{
  color: white;
}

.websites{
  margin-left: 0px;
}

.hidden-nav{
  overflow-y: scroll;
  top: 0px;
  bottom: 0px;
  position: absolute;
  left: 0px;
  margin-top: 50px;
  padding-top: 15px;
  margin-bottom: 50px;
}


