<div class="container-fluid">
  <h1>Register</h1>
  <input placeholder="username"
         type="text" style="margin-bottom: 5px;"
         class="form-control"/>
  <input placeholder="password"
         type="password" style="margin-bottom: 5px;"
         class="form-control"/>
  <input placeholder="verify password"
         type="password" style="margin-bottom: 5px;"
         class="form-control"/>
  <a class="btn btn-primary btn-block"
     [routerLink]="['/user/:uid']">Register</a>
  <a class="btn btn-danger btn-block"
     [routerLink]="['/login']" >Cancel</a>

</div>
